

form{
    display: flex;
    flex-direction: column;
    background-color: moccasin;
    border-radius: 30%;
    padding: 5%;
    opacity: 0.8;
    align-items: center;
  }
  
  form > *{
    margin: 1rem;
    background: gold;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;

  }

  button{
    border-radius: 20%;
    width: 100px;

  }